<app-header></app-header>

<main>
  <div class="profile-container">
    <h1>My account</h1>
    <hr>

    <div class="align-self-begin">
      <h3>Subscribes:</h3>
      <div class="">
        <ul class="list-group-flush offset-1">
          <li><h5>Microsoft Office ($4/a day)</h5></li>
          <li><h5>Netflix ($3/a day)</h5></li>
          <li><h5>Kaspersky ($6/a day)</h5></li>
        </ul>
      </div>
      <hr>

      <div class="align-self-begin" id="ba-container">
        <h3>Billing accounts:</h3>
        <div class="table offset-1">
          <div class="row">
            <h4>PayPal ($100)</h4>
            <a href="" class="offset-1"><h4 style="color: #f85c35">Deposit</h4></a>
          </div>
        </div>
        <div class="btn btn-primary">Add billing account</div>
      </div>

    </div>

  </div>
</main>
