<div class="service-column">
  <div class="name">
    <h3>Microsoft Office</h3>
  </div>
  <div class="description">
    <p>Office 365 is a cloud-based subscription service that brings together the best tools for the way people work today. By combining best-in-class apps like Excel and Outlook with powerful cloud services like OneDrive and Microsoft Teams, Office 365 lets anyone create and share anywhere on any device.</p>
  </div>
  <div class="price">
    <hr><h4>$4/a day</h4></div>
  <a href="#" class="btn btn-primary subscribe-bottom" data-toggle="modal" data-target="#subscribe-modal">Subscribe</a>
</div>
