header {
  display: block;
  font-weight: 800;
  font-size: 14px;
  padding: 5px;
  background: #2d2d2d;
  border-color: #2d2d2d;
}

header a{
  color: #f85c35;
}

header a.navbar-brand{
  padding: 5px 15px 5px 15px;
  border: 2px solid #f85c35;
  border-radius: 20px;
}

header.header-user-menu {
  justify-content: end;
}

header ul {
  text-align: left;
  color: #f85c35;
}
